<launch>
    <arg name="world"       default="task"/>
    <arg name="paused"      default="false"/>

    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="paused" value="$(arg paused)"/>
        <arg name="world_name" value="$(find sct_gazebo)/worlds/$(arg world).world"/>
    </include>

</launch>

