<launch>
    <arg name="use_sim"     default="false"/>

    <arg name="x" default="0"/>
    <arg name="y" default="0"/>
    <arg name="z" default="0.2"/>
    <arg name="robot_name" default="sct"/>


    <group ns="$(arg robot_name)">
        <param name="robot_description"
            command="$(find xacro)/xacro $(find sct_description)/urdf/scout/scout_mini.urdf.xacro
            use_sim:=$(arg use_sim)"/>

        <group if="$(arg use_sim)">
            <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" clear_params="true"
                args="-x $(arg x) -y $(arg y) -z $(arg z) -param robot_description -urdf -model $(arg robot_name)" output="screen"/>
        </group>

        <node name="state_publisher" pkg="robot_state_publisher" type="robot_state_publisher">
            <param name="publish_frequency" type="double" value="50.0"/>
            <param name="tf_prefix" type="string" value="$(arg robot_name)"/>
        </node>

        <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" output="screen">
            <param name="rate" type="double" value="50.0"/>
        </node>
    </group>
</launch>

