<launch>
    <!--    <arg name="robot_name" default="scout1" doc="Robot name [scout1, scout2, scout3]"/>-->

    <rosparam file="$(find sct_chassis_controller)/test/template_sct_chassis_controller.yaml" command="load"/>

    <node name="controller_loader" pkg="controller_manager" type="controller_manager" output="screen"
          ns="/"
          args="spawn
          controllers/chassis_controller"
    />

    <!--    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">-->
    <!--        <param name="publish_frequency" type="double" value="50.0"/>-->
    <!--    </node>-->
</launch>
