<launch>
    <!--   robot chassis_drive   -->
    <include file="$(find sct_config)/launch/chassis_drive/multi_robot_chassis_driver.launch">
    </include>
    <!--   multi_robot_ouster_driver   -->
    <include file="$(find sct_config)/launch/ouster_drive/multi_robot_ouster_driver.launch">
    </include>

    <!--   multi_robot_lio_mapping   -->
    <include file="$(find sct_config)/launch/lio/multi_robot_lio_mapping.launch">
    </include>

    <!--   multi_robots_align_coordinate   -->
    <include file="$(find sct_config)/launch/align_coordinate/multi_robots_align_coordinate.launch">
    </include>

    <!--   multi_robot_run_navigation   -->
    <include file="$(find sct_config)/launch/sct_navigation/multi_robot_run_navigation.launch">
    </include>

    <!--   multi_robot_explore   -->
<!--     <include file="$(find sct_config)/launch/explore/multi_robot_explore.launch"> -->
<!--     </include> -->

</launch>
