<launch>
    <arg name="load_rviz"    default="true"/>
    <arg name="load_urdf"    default="true"/>
    <arg name="load_gazebo"    default="true"/>
    <arg name="use_sim"      default="true"/>

    <arg name="robot_name"      default="scout"/>
    <arg name="world"      default="test_world"/>
    <arg name="paused"      default="false"/>

    <arg name="base_frame"   default="base_link" />
    <arg name="odom_frame"   default="odom" />
    <arg name="map_frame"    default="map" />
    <arg name="sensor_frame" default="ouster_lidar_link" />
    <arg name="odom_topic"   default="odom" />


    <include file="$(find sct_config)/launch/sct_navigation/gmapping/gmapping.launch">
        <arg name="load_rviz" value="false"/>
        <arg name="load_urdf" value="false"/>

        <arg name="base_frame" value="$(arg base_frame)"/>
        <arg name="odom_frame" value="$(arg odom_frame)"/>
        <arg name="map_frame" value="$(arg map_frame)"/>
    </include>

    <!--  move_base -->
    <include file="$(find sct_config)/launch/sct_navigation/move_base/move_base.launch">
        <arg name="load_rviz" value="false"/>
        <arg name="load_urdf" value="false"/>

        <arg name="base_frame" value="$(arg base_frame)"/>
        <arg name="odom_frame" value="$(arg odom_frame)"/>
        <arg name="map_frame" value="$(arg map_frame)"/>
        <arg name="odom_topic" value="$(arg odom_topic)"/>
    </include>

    <group if="$(arg load_urdf)">
        <include file="$(find sct_config)/launch/description/load_robot_description.launch">
            <arg name="use_sim"             value="$(arg use_sim)" />
            <arg name="load_gazebo"         value="$(arg load_gazebo)" />

            <arg name="robot_name"        value="$(arg robot_name)" />
            <arg name="world"        value="$(arg world)" />
            <arg name="paused"        value="$(arg paused)" />
        </include>
    </group>

    <group if="$(arg load_rviz)">
        <node pkg="rviz" type="rviz" name="navigation_rviz" required="true"
              args="-d $(find sct_config)/config/rviz/navigation.rviz"/>
    </group>

</launch>

